<div class="Page">
    <div class="p-4">
        Mi egy kis fejlesztocsapat vagyunk aki nagyon szeret fozni! es ygy gondoltuk hogy megalkotjuk ezt a fozos forumot ahol mindenki megoszthatja massal a fosztjuket!! remelem elvezni fogjatok!! enjoy!!1
        <div>
            sztatisztix bomba fantasztix
        </div>
        <div class="grid max-md:grid-cols-2 md:grid-cols-6">
            <div>
                <span>Number of registered users</span>
                <span>99</span>
            </div>
            <div>
                <span>Number of recipes</span>
                <span>99</span>
            </div>
            <div>
                <span>Number of categories</span>
                <span>99</span>
            </div>
            <div>
                <span>Number of categories</span>
                <span>99</span>
            </div>
            <div>
                <span>Number of category claims</span>
                <span>99</span>
            </div>
            <div></div>
        </div>
    </div>
</div>