<div class="Page">
    <div class="p-4">
        <!--
        <table class="gap-4 w-full">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>email</th>
                <th>role</th>
                <th>phone</th>
                <th>Banned</th>
            </tr>
        </table>
        -->
        <div class="flex flex-col gap-2">
            <div class="font-bold">
                <span class="col-span-1">ID</span>
                <span class="col-span-2">Username</span>
                <span class="col-span-3">Email</span>
                <span class="col-span-1">Role</span>
                <span class="col-span-2">Phone</span>
                <span class="col-span-1">Banned</span>
            </div>
            <div>
                <span class="col-span-1">ID</span>
                <span class="col-span-2">Username</span>
                <span class="col-span-3">Email</span>
                <span class="col-span-1">Role</span>
                <span class="col-span-2">Phone</span>
                <span class="col-span-1">Banned</span>
            </div>
            <app-button text="Apply changes" class="mt-6 ml-auto align-self-end" />
        </div>
    </div>
</div>