<div class="pt-20">
    <a routerLink="/recipes" class="inline-flex ml-4 text-neutral-700 gap-2 hover:gap-3 cursor-pointer transition-all">
        <app-icon name="arrow_back" />
        Go back
    </a>
    <div class="p-4 grid grid-cols-5 gap-4">
        <div class="p-4 flex flex-col gap-2 col-span-2 bg-color2 rounded-md border-dashed border-2 border-color3">
            <img src="{{ recipe.image }}" alt=""
                class="w-full aspect-video object-cover rounded-md mb-2"
            >
            <span class="flex gap-1">
                <span class="font-podkova-500 text-3xl text-color4 underline">{{ recipe.title }}</span>
                <span class="mb-2 text-sm text-color4">by {{ recipe.user_id }}</span>
            </span>
            <span class="flex gap-4 items-center">
                <span class="flex flex-col gap-2">
                    <span class="flex font-medium gap-1">
                        <app-icon name="egg" />
                        Additions:
                    </span>
                    <ul class="list-disc ml-8">
                        @for (addition of recipe.additions; track $index) {
                            <li>{{ addition }}</li>
                        } @empty {
                            <li>Nothing!</li>
                        }
                    </ul>
                    <span class="flex font-medium gap-1">
                        <app-icon name="nutrition" />
                        {{ recipe.calories }} kcal
                    </span>
                    <span class="flex font-medium gap-1">
                        <app-icon name="schedule" />
                        {{ recipe.time }} min
                    </span>
                </span>
            </span>
        </div>
        <span class="text-neutral-600 col-span-3 text-justify">{{ recipe.description }}</span>
    </div>
</div>
