<div class="pt-20">
    <span class="inline-flex ml-4 text-zinc-700 gap-2 hover:gap-3 cursor-pointer transition-all">
        <app-icon name="arrow_back" />
        Go back
    </span>
    <div class="p-4 grid grid-cols-5 gap-4">
        <div class="p-4 flex flex-col gap-2 col-span-2 bg-color2 rounded-md border-dashed border-2 border-color3">
            <img src="https://www.allrecipes.com/thmb/5JVfA7MxfTUPfRerQMdF-nGKsLY=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/25473-the-perfect-basic-burger-DDMFS-4x3-56eaba3833fd4a26a82755bcd0be0c54.jpg" alt=""
                class="w-full aspect-video object-cover rounded-md mb-2"
            >
            <span class="font-podkova-500 text-3xl text-color4 underline">Burger</span>
            <span class="flex gap-4 items-center">
                <span class="flex flex-col gap-2">
                    <span class="flex font-medium gap-1">
                        <app-icon name="egg" />
                        Additions:
                    </span>
                    <ul class="list-disc ml-8">
                        <li>Example</li>
                        <li>Example</li>
                        <li>Example</li>
                        <li>Example</li>
                    </ul>
                    <span class="flex font-medium gap-1">
                        <app-icon name="nutrition" />
                        3000 kcal
                    </span>
                    <span class="flex font-medium gap-1">
                        <app-icon name="schedule" />
                        3 min
                    </span>
                </span>
            </span>
        </div>
        <span class="text-zinc-600 col-span-3 text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ab velit veritatis! Quas eum excepturi nulla illo cupiditate qui temporibus minima nam omnis, soluta veritatis rem incidunt deleniti aliquam neque!</span>
    </div>
</div>
